 <ion-view>
     <ion-nav-bar class="grdient-violet">

	<ion-nav-buttons side="left">
      <button style="color:white" class="button button-icon icon ion-chevron-left" ng-click="back()">

      </button>
    </ion-nav-buttons>

	<ion-nav-title>
		<center><i style="font-weight:250">Google Map</i></center>
    </ion-nav-title>

<ion-nav-buttons side="right">
      <button style="color:white" class="button button-icon icon" ng-click="done()">
          DONE
      </button>
    </ion-nav-buttons>

  </ion-nav-bar>
 



       <ion-content class="has-header">
 <input id="pac-input" style="margin-top:2.6%;margin-left:3%" class="controls" type="text" placeholder="Search Box">
           <div  data-tap-disabled="true" class="googleMapSpecifyDetaill" id="map2"></div>
         



       </ion-content>
    </ion-view>
